/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.semantic {
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}

.chess-bg {
    background: url('/asset/images/chess-board-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ttt-board {
    max-width: 560px;
    max-height: 560px;
}

.chess-board {
    max-width: 512px;
    max-height: 512px;
}

.chess-bg-2 {
    background: url('/asset/images/chess-board-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-transparent {
    background-color: transparent;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-first-uppercase::first-letter {
    text-transform: uppercase;
}

.fade-in {
    animation: FadeIn 0.3s;
}

.background-profile {
    background: radial-gradient(farthest-side at top right, rgba(109, 38, 44, 0.301), transparent 500px),
        radial-gradient(farthest-corner at top left, rgba(50, 255, 193, 0.103), transparent 600px),
        radial-gradient(farthest-corner at bottom right, rgba(109, 38, 44, 0), transparent 500px),
        radial-gradient(farthest-corner at bottom left, rgba(50, 255, 193, 0.103), transparent 600px);
    background-color: rgba(34, 35, 48, 0.93);
    max-width: 976px;
}

.tooltip:hover .content {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.chess-suggestion {
    transition: 200ms;
}

.chess-suggestion:hover {
    @apply bg-blue-700;
}

.chess-suggestion::before {
    content: '';
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: FadeIn 200ms;
    @apply bg-blue-700;
}

@keyframes Popup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pop-up {
    animation: Popup 2s forwards;
}
